/* in stylish-portfolio.min.css wijzig je NIETS */
/* schrijf in dit bestand je eigen stijlregels om opmaak aan te passen */

:root {
    --mc: #5e9807;
    --csgo: #be8b2c;
    --wit: #fff;
    --zwart: #000;
    --thema: #157AB6;
    --a_hover: #005C95;
    --back_fout_forem: #feeded;
    --back_goed_forem: #f1fdf2;
    --Alabaster: #F5F1E3;

    --Bone: #DDDBCB;
    --Blue_Munseli: #0b5b62;
}

/*nav*/
#mainNav .nav-link:hover{
    color: var(--mc) !important;
}

#mainNav .navbar-brand:hover{
    color: var(--mc);
}

#mainNav .navbar-nav .nav-item .nav-link.active{
    color: var(--csgo) !important;
}

#mainNav.navbar-scrolled .navbar-brand:hover{
    color: var(--csgo) !important;
}

.titel {
    font-family: Verdana, Geneva, sans-serif;
}

/*sections*/
.outline {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;


}

.titelvoorwoord{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.Divider_contact_feedback {
    border-color: var(--Blue_Munseli) !important;
}

a{
    color: var(--thema);
}

a:hover {
    color: var(--mc);
}

.section1{
    /*min-height: 100vh;*/
    /*background-image: linear-gradient(03deg,#80391e, #7ed20f);*/
    background-image: linear-gradient(03deg,#80391e, #999966);
}

.section2{
    /*min-height: 100vh;*/
    /*background-image: linear-gradient(03deg,#80391e, #c49558);*/
    background-image: linear-gradient(03deg,#80391e, #999966);
}

.section3{
    /*min-height: 100vh;*/
    background-image: linear-gradient(03deg,#80391e, #999966);
}


/*body {*/
/*    background-color: green;*/
/*}*/


.navbar-default .navbar-toggle .icon-bar {
    background-color: white; !important;
}


/*dit behoord toe tot para*/
.parallax1 {
    /* The image used */
    background-image: url("../img/MC1.jpg");

    /* Set a specific height */
    height: 100vh;
    max-width: 100%;

    /* Create the parallax scrolling effect */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

}


.parallax2 {
    /* The image used */
    background-image: url("../img/csgo1.jpg");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax3 {
    /* The image used */
    background-image: url("../img/team1.png");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*section prijzen*/
.bg_Bone {
    background-color: var(--Bone);
    color: var(--Blue_Munseli);
}

/*feedback*/
.label{
    float: left;
}

/*radio-boxen-prijs*/
.radio-flex {
    /*background-color: #f5f7ff;*/
    /*font-family: 'Poppins',sans-serif;*/
    color: var(--Blue_Munseli);
    margin-top: 5px;
    /*height: 100vh;*/
    /*width: 100vw;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.radio-box-prijs {
    height: 200px;
    width: 250px;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

/*kaber kleuren*/
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
    cursor: pointer;

}

/*positie buiten balletje*/
.radio-box-prijs > input[type="radio"]:before{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f9fafd;
    border:1px solid #e2e6f3;
    border-radius: 50%;
    top: 35px;
    right: 20px;
}

/*positie binnen balletje*/
.radio-box-prijs > input[type="radio"]:after{
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 50%;
    top: 39.5px;
    right: 24.5px;
}

input[type="radio"]:hover{
    transform: scale(1.05);
}

/*border lijn*/
.radio-box-prijs > input[type="radio"]:checked{
    border: 3px solid var(--zwart);
}
/*bolletje*/
.radio-box-prijs > input[type="radio"]:checked:after{
    background-color: var(--zwart);
}

.prijzen_kaart {
    position: absolute;
    margin: 20px;
    cursor: pointer;
}

.prijzen_titel{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px 0;
}

.prijzen_subtitel {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.prijzen_text {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}


/*radio-boxen-locatie*/

.radio-box-locatie {
    height: 100px;
    width: 200px;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

/*positie buiten balletje*/
.radio-box-locatie > input[type="radio"]:before{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f9fafd;
    border:1px solid #e2e6f3;
    border-radius: 50%;
    top: 35px;
    right: 20px;

}

/*positie binnen balletje*/
.radio-box-locatie > input[type="radio"]:after{
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 50%;
    top: 39.5px;
    right: 24.5px;
}

/*border lijn*/
.radio-box-locatie > input[type="radio"]:checked{
    border: 3px solid var(--zwart);
}
/*bolletje*/
.radio-box-locatie > input[type="radio"]:checked:after{
    background-color: var(--zwart);
}

/*radio doorzichtbaar*/
.niet_beschikbaar > input[type="radio"] {
    background-color: rgba(255,255,255,.2);

}

.niet_beschikbaar {
    color: rgba(0, 0, 0, 0.6);
}

.niet_beschikbaar > input[type="radio"]:before{
    background-color: rgba(255,255,255,.2);
    border:1px solid rgba(255,255,255,.4);
}

.niet_beschikbaar > input[type="radio"]:hover{
    transform: scale(1);
}


/*comboboxen*/
select {
    width: 100%;
    display: flex;
    /*position: absolute;*/
    border-radius: 5px;
    border: 1px solid var(--zwart);
    padding: 7px;
    box-sizing: border-box;
}

.Hostname {
    border: 1px solid var(--zwart);
}

.Hostname:focus {
    border-color: var(--zwart) !important;
    box-shadow:0 0 0 transparent !important;
}


.combobox {

}



@media (min-width:768px){
    .Game_naar_boven {
        margin-top: -80px !important;
    }

    .col-md-5_selfgemaakt {
        flex:0 0 37.5%;
        max-width: 37.5%;
    }
}

.form_name {
    width: 100%;
}



